        body{
            overflow: hidden;
        }
        .image-preview {
            position: absolute!important;
            background-color: transparent;
            overflow: visible;
        }
        .image-preview input{
            line-height: 200px;
            font-size: 200px;
            position: absolute;
            opacity: 0;
            z-index: 10;
        }
        .image-preview label{
            position: absolute;
            z-index: 5;
            opacity: 0.8;
            cursor: pointer;
            background-color: #bdc3c7;
            width: 200px;
            height: 50px;
            font-size: 20px;
            line-height: 50px;
            text-transform: uppercase;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
        }
        #gallery{
            height: 200px;
            overflow-x: auto;
            white-space: nowrap;
        }
        #gallery img{
            height: 200px;
            cursor: pointer;
        }
        #gallery img:hover{
            border-radius: 30px;
        }
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        #gallery > label{
            color: #f1e5e6;
            background-color: #d3394c;
            padding: 15px;
            margin-right: 10px;
            position: absolute;
            cursor: pointer;
        }

        #image-label {
            color: #f1e5e6;
            background-color: #d3394c;
            padding: 18px;
            position: relative;
            margin-top: 10px;
            margin-bottom: -5px;
            top: 60px;
            z-index: 1000;
            cursor: pointer;
        }

        label > svg {
            width: 1em;
            height: 1em;
            vertical-align: middle;
            fill: currentColor;
            margin-top: -0.25em;
            margin-right: 0.25em;
        }
        #room{
            height: 700px;
            margin-top: 80px;
            background-image: url('./img/room-01.jpg');
            background-repeat: no-repeat;
            background-size: contain!important;
        }
        .tip{
            text-align: center;
            color: #616E14;
            border: solid 1px #BFD62F;
            background-color: #DAE691;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            padding: 14px 20px;
            top: 25px;
            position: relative;
        }
.ui-rotatable-handle {
    height: 14px;
    width: 14px;
    cursor: pointer;
    background-image: url(img/rotate.png);
    background-size: 100%;
    bottom: 0px;
    position: relative;
    box-shadow: none!important;
    opacity: 0.3;
    float: right;
    right: 5px;
}
.ui-rotatable-handle:hover,
.ui-rotatable-handle:active,
.close_box:hover,
.close_box:active{
    opacity: 1;
}
#image-link,
#add-new{
    margin-left: 10px;
    color: #f1e5e6;
    background-color: #3a89ec;
    padding: 18px;
    position: relative;
    margin-top: 10px;
    margin-bottom: -5px;
    top: 62px;
    z-index: 1000;
    border: none!important;
    font-size: 15px;
}
#image-link::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
#image-link::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
#image-link:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
#image-link:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}
#add-new{
    background-color: #3a67ec;
    color: #ffffff;
    cursor: pointer;
    top: 59px;
}
#add-new:hover{
    background-color: red;
}
.close_box{
    position: relative;
    float: right;
    z-index: 10000000;
    color: black;
    cursor: pointer;
    opacity: 0.3;
    box-shadow: none!important;
}
.arrow{
    position: absolute;
    z-index: 1000000;
    top: 65px;
    cursor: pointer;
}
.arrow img{
    height: 60px;
}
#right-arr{
    right: 10px;
}
.fa{
    box-shadow: none!important;
}
.image-preview .ui-wrapper{
    border: dashed 1px;
}
.image-preview .image{
    min-width: 200px;
    min-height: 200px;
}