.woocommerce
{
	.product_infos
	{
		.group_table
		{
			margin-bottom: rem-calc(50);

			tr
			{
				border: none;

				td 
				{
					padding: rem-calc(10) 0;
					font-size: rem-calc(12);

					&:first-child
					{
						width: 100px;
					}

					label {
						text-transform: none;
					}

					a 
					{
						font-size: rem-calc(12);
						font-weight: bold;
					}

					.out-of-stock 
					{
						float: left;
						background: transparent;
						margin: rem-calc(2) rem-calc(5) 0 0;
						// padding: 0;
						text-transform: uppercase;
						// color: #d56767;
						font-size: rel-calc(8);
						font-weight: bold;
						display: block;
					}

					&.price
					{
						text-align: right;
					}
				}
			}
		}
	}
}