.offcanvas_aside
{
	.mm-menu 
	{
		.mm-listview
		{
			li
			{
				border-color: transparent;

				&.has-border
				{
					border-top: solid 1px;
					border-top-color: inherit;
					margin-top: 20px;
					padding-top: 20px;
				}

				&:first-child
				{
					margin-top: 20px;
				}
			}
		}
	}

	.mm-navbar
	{
		padding: 0 20px;

		.mm-title
		{
			text-align: left;
		}

		.mm-prev ~ .mm-title
		{
			margin-left: 20px;
		}
	}

	.offcanvas_close
	{
	    position: absolute;
	    z-index: 1;
	    right: 11px;
	    top: 5px;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	}

}